.gradient-background {
  background: linear-gradient(300deg, #aefc9a, #1fcf7d, #baf1cb);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media (max-width: 992px) {
    .modal-open {
      overflow:hidden;
      overflow-y:scroll;
      padding-right:0 !important;
    }
  }

html {
  color: #333 !important;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #f1f1f1;
}

.flower-font {
  font-family: 'Indie Flower', cursive;
}

.space {
  height: 20px;
  width: 100%;
}

.tooted {
  font-size: 250%;
  color: #333;
}

.hero-image {
  border-radius: 10%;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  background-color: #1fcf7d !important;
}

.testimonial-pic {
  height: 100px;
}

.col-12 > img {
  height: 30px;
  width: auto;
}

li {
  list-style: none;
}


